.pic {
    border: 2px solid orange;
    border-radius: 30px;
    padding: 8px;
    margin-bottom: 10px;
}

.main-pics {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.main-pics img {
    max-width: 98%;
    margin: 2px;
}

.pixiv-link {
    margin-left: 20px;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("./img/pixiv.png") no-repeat;
    background-size: 32px;
}
