.pic-list {
    padding-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.pic-title a{
    text-decoration: none;
    color: #000000;
}

.small-pic {
    position: relative;
    min-width: 320px;
    min-height: 320px;
    background: rgba(255, 255, 255, 0.4);
    margin: 10px;
    border-radius: 10px;
}

.loaded {
    min-width: 0px;
    min-height: 0px;
}

.small-pic a {
    display: block;
    height: 100%;
}

.small-pic img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.small-page-count {
    display: none;
    position: absolute;
    padding: 8px 10px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 0 20% 50% 0;
    background: #95939373;
}

.loaded .small-page-count {
    display: block;
}

.only-one {
    flex: 0 1 100%;
    border: none;
}

.more-button {
    position: absolute;
    background: url("../../images/add.png") no-repeat;
    width: 64px;
    height: 64px;
    right: 5px;
    bottom: 5px;
    z-index: 3;
}